body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pd {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mt {
  margin-top: 2rem;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background: #f3f3f3;
}

.todo i {
  z-index: 2;
}


.parent {
  border-spacing: 5px;
  padding: .5em;
}

.parent.perspective {
  perspective: 50em;
}

.child {
  margin: .5em;
  max-width: 4em;
  min-width: 5em;
  height: 5.6em;
  padding: 1em;
  display: table-cell;
  border: 1px solid rgba(0, 0, 0, .5);
}

.parent.perspective .child {
  transition: all .3s ease-in;
}
